@import "pieces.scss";

* {
  margin: 0;
  box-sizing: border-box;
}


$color-light: #ececec;
$color-dark: #131313;


body, html, #__nuxt {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: $color-light;
  font-family: "Nanum Gothic", sans-serif;
}

main{
  padding-top: 60px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}